#ifndef STASSID

// Netzwerk
#define STASSID     "<ssid>"
#define STAPSK      "<secretkey>"
#define STAHOSTNAME "espakkucontroller"
IPAddress local_IP(192, 168, 1, 241);

// Netzwerkumgebugn 
IPAddress gateway(192, 168, 1, 1);
IPAddress subnet(255, 255, 255, 0);
IPAddress primaryDNS(192, 168, 1, 1);   //optional
IPAddress secondaryDNS(192, 168, 1, 1); //optional

// Pereferie 
#define EMETERIP      "192.168.1.252"
#define EMETERPORT    8081

#define BATTERYWRIP   "192.168.1.243"
#define BATTERYWRPORT 80

#endif